<div class="container">
  <div class="content">
    <div class="header">
      <h1>Front-end developer test project</h1>
      <p>Your goal is to make a page that looks exactly like this one, and has the ability to create H1 text simply by typing / then 1, then typing text, and hitting enter.</p>
    </div>
    <div id="editor" class="editor">
      <input class="defaultInput" *ngIf="!optionSelected" type="text" placeholder="Type / for blocks, @ to link docs or people" (keyup)="filter($event)">
      
      <div *ngIf="expectedText" class="options">
        <div class="add-options">
          <span>Add blocks</span>
          <span>Keep typing to filter, or escape to exit</span>
          <span>Filtering keyword <span class="inputValue"> 1</span> </span>
          <div class="option">
            <span class="shortcut">T</span>
            <span>Heading 1</span>
            <span class="hint">Shortcut: type # + space</span>
          </div>
          <div class="option">
            <span class="shortcut">T</span>
            <span>Expandable Heading 1</span>
            <span class="hint">Shortcut: type >> + space</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



